extend layout.pug

block content
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') Sofía Galán 
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .navbar-collapse.collapse.w-100.order-3.dual-collapse2
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') CV
          li.nav-item
            a.nav-link(href='#') Contact
    canvas#animation
    .container-fluid.about
      .row
        .topabout.col-md-6(align='center')
          img.img-fluid(style='border-radius:50%; width:60%;', src='https://cdn.glitch.com/b3f31b7e-9cd7-498a-8978-bd630314b7be%2FCaptura%20de%20pantalla%202018-05-07%20a%20la(s)%2013.09.52.png?1525717256088', alt='Profile')
        .topabout.botabout.col-md-6(style='color:white')
          h3 Hey there! 
          br
          p My name is Sofía and I’m a mechatronics engineer by Tec of Monterrey. I’m a maker, project manager, and entrepreneur.
          p
            | Technology, especially hardware and fast prototyping, is my passion and I love sharing it with others. I believe technology should be for everyone and I try to incorporate that philosophy as much as I can in my projects. 
          p
            | Let's make together.
            
          p.icons
            a(href='https://linkedin.com/in/sogalanbat')
              i.fab.fa-linkedin.fa-2x(style='color:white')
            a(href='mailto:sogalanbat@gmail.com')
              i.far.fa-envelope-open.fa-2x(style='color:white')
              
            a(href='https://twitter.com/sogalanbat')
              i.fab.fa-twitter.fa-2x(style='color:white')
            
            a
              i.fab.fa-github.fa-2x(style='color:white')
            a
              i.fab.fa-youtube.fa-2x(style='color:white')
            a
              i.fab.fa-facebook.fa-2x(style='color:white')
            a
              i.fab.fa-medium.fa-2x(style='color:white')
            a
              i.fab.fa-instagram.fa-2x(style='color:white')
            
   
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    
